%div#ttn-masonry-container
  - @photos.each do |photo|
    .panel.panel-default.ttn-masonry-grid-item
      .panel-body
        = image_tag photo.image.image_url, { "data-toggle" => "modal", "data-target" => "#mymyModal", "data-imageurl" => "#{photo.image.image_url}"}
        .panel-info
          .panel-info-clm01
            %p.townname
              - if Time.now.ago(14.days) <= photo.created_at
                %span.label.label-warning
                  NEW
              %span
                = "#{photo.ward.name}#{photo.town.name}"
            %p.username
              = link_to "Auther: #{photo.user.name}", user_path(photo.user)
          %p
            = link_to photo.created_at.strftime("%Y/%m/%d %H:%M"), photo_path(photo)
          - if current_user.present? && photo.user == current_user
            %a
              = link_to "Delete", photo_path(photo), method: :delete, data: {confirm: '消しますがよいですか?'}

%button#ttn-photos-paging
  Next Page

.modal#mymyModal
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .row
        .col-md-8
          %img#modal-photo-img
        .col-md-4
          %h3
            = "渋谷区代々木上原(仮)"

          %p.text-muted
            = "2015-07-10 13:21(仮)"

          %hr
          %h4
            Reporter
          %img.img-circle(src="https://pbs.twimg.com/profile_images/3378334453/01647eb989408175c146045d43cdd51a_400x400.jpeg" style="width:40px")
          フリーザさん
          %hr
