%div#ttn-masonry-container
  - @photos.each do |photo|
    .panel.panel-default.ttn-masonry-grid-item
      .panel-body
        = image_tag photo.image.image_url
        %p
          - if Time.now.ago(14.days) <= photo.created_at
            %span.label.label-warning
              new
          %span
            = "#{photo.ward.name}#{photo.town.name}"
        %p
          = link_to photo.created_at.strftime("%Y/%m/%d %H:%M"), photo_path(photo)
        %p
          Auther: #{photo.user.name}

        - if current_user.present? && photo.user == current_user
          %a
            = link_to "Delete", photo_path(photo), method: :delete, data: {confirm: '消しますがよいですか?'}
