%div#ttn-masonry-container
  - @photos.each do |photo|
    .panel.panel-default.ttn-masonry-grid-item
      .panel-body
        .mouseon-transition
          = image_tag photo.image.image_url, { "data-toggle" => "modal", "data-target" => "#ttnPhotoDetailModal", "data-photo-id" => "#{photo.id}"}
        .panel-info
          .panel-info-clm01
            %p.townname-area
              - if Time.now.ago(14.days) <= photo.created_at
                %span.icon-new
                  NEW
              %span.townname
                %a
                  = "#{photo.ward.name}#{photo.town.name}"
            %p.username
              = link_to image_tag(photo.user.profile_image_url, class: "img-circle", style:"width:30px;"), mypage_path
          %p.date
            = link_to photo.created_at.strftime("%Y/%m/%d %H:%M"), photo_path(photo)
          - if current_user.present? && photo.user == current_user
            %p.btn_delete
              = link_to "Delete", photo_path(photo), class:"hoge fuga", method: :delete, data: {confirm: '消しますがよいですか?'}

.modal#ttnPhotoDetailModal
  .modal-dialog.modal-lg(role="document")
    .modal-content
      .row
        .col-md-8
          %img#modal-photo-img
        .col-md-4
          %h3#modal-photo-town-name

          %p.text-muted#modal-photo-publish-date


          %hr
            %h4#modal-photo-comment
          %hr


          %h4
            Reporter
          %img#modal-photo-reporter-img.img-circle(src="" style="width:40px")
          %p#modal-photo-reporter-name
          %hr

          %h4#comment-count
            Comments
          #comment-list
          - if current_user.present?
              = form_tag comments_path, remote: true, method: :post, id: "ttn_comment_form", class: "show" do |f|
                .form-group
                  = text_field_tag :comment, nil, class: "form-control show", placeholder: "コメントを追加"
                = hidden_field_tag :commentable, "photo"
                = hidden_field_tag :commentable_id, "", id: "modal-photo-commentable-id"
                .form-group
                  = submit_tag "Submit!", class: "btn btn-default"

          - else
            %p
              コメントするためにはログインをしないといけないとです
:javascript
  new Lives();
  new Comments();
