.row
  .col-md-2
    = image_tag user.authentication.image, class: "img-circle", style:"width:120px"
  .col-md-10
    %h3
      = user.name
    %h5
      = "投稿数 #{user.photos.count}"

%hr
= render partial: 'photos/photos', locals: { photos: user.photos.limit(30) }
