%h2
  Project達成状況
%h4
  = "#{(Photo.pluck(:town_id).uniq.count.to_f / 932.0 * 100).to_s(:percentage, precision: 1)} (#{Photo.pluck(:town_id).uniq.count}/932)"
%hr

- Ward.all.each do |ward|
  %div(style="float:left;padding:20px;background-color:#eee")
    %p
      = link_to ward.name, ward_path(ward)
    %canvas(id="lineChartCanvas-#{ward.id}" width="100" height="100")
    %p
      = "#{Photo.where(ward_id: ward.id).count} / #{Town.where(ward_id: ward.id).count} #{(Photo.where(ward_id: ward.id).count.to_f / Town.where(ward_id: ward.id).count.to_f * 100).to_i}%"

:javascript
  new Archive();
