%h1
  achieve

- @wards.each do |ward|
  .achieve-area(style="width:160px;float:left;padding:10px")
    /TODO: refactor
    - if ward.id < 10
      = link_to image_tag("/images/wards/10#{ward.id}.png"), ward_path(ward)
    - else
      = link_to image_tag("/images/wards/1#{ward.id}.png"), ward_path(ward)
    %span
      -# fuck'n code
      #{ward.name} #{Photo.where(ward_id: ward.id).pluck(:town_id).uniq.length}/#{Town.where(ward_id: ward.id).count}
