- if current_user.present?
  - Ward.all.each do |ward|
    %input(type="hidden" value="#{ward.id}")
  %h1
    Choice Ward

  %h2#photo-new-upload-town

  #photo-new-upload-photo(style="display:none")
    = form_tag photos_path , multipart: true, method: :post do |f|
      = hidden_field_tag :town_id, "", id: "hogehogehoge"

      / photo
      .photo-form-area
        = label_tag :photo
        = file_field_tag :photo, accept: 'image/png,image/gif,image/jpeg,image/jpg'

      / comment
      .photo-form-area
        = label_tag :comment
        = text_field_tag :comment

      / button
      .photo-form-area
        = submit_tag :upload



  #photo-new-choose-town
    %ul

  %hr

  #photo-new-choose-ward
    - Ward.all.each do |ward|
      %a.btn.btn-success.photo-new-ward(data-id="#{ward.id}")
        = ward.name



- else
  %h3
    まずはログインをおなしゃす
    .hogehoge
      %a
        = link_to "Login Tw", "/auth/twitter"
    .hogehoge
      %a
        = link_to "Login Fb", "/auth/facebook"
