- if current_user.present?

  #photo-new-upload-photo(style="display:none")
    .jumbotron
      %h2#photo-new-upload-town
      = form_tag photos_path , multipart: true, method: :post do |f|
        = hidden_field_tag :town_id, "", id: "hogehogehoge"
        = hidden_field_tag :key, "", id: "photo-image-key"

        / photo
        .photo-form-area
          %span.btn.btn-success#photo-new-upload-photo-button
            %i.glyphicon.glyphicon-plus
            %span 画像を選択
            /%input(id="ttn-photo-fileupload" type="file" name="photo" accept="image/png,image/gif,image/jpeg,image/jpg")
          %input(style="display:none" id="ttn-photo-fileupload" type="file" name="photo" accept="image/png,image/gif,image/jpeg,image/jpg")

        %br
        .photo-form-upload-photo(style="display:none;")
          %img(src="http://www.ebikes.ca/tripanalyzer/img/loading.jpg" style="width:200px;")
          .progress(style="width:200px")
            .progress-bar#photo-new-upload-progressbar(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
          %span#photo-new-upload-progressbar-message(style="display:none") 画像変換処理中 Please wait...


        .photo-form-after-upload-area(style="display:none")
          / comment
          .photo-form-area
            .form-group
              = label_tag :comment
              = text_field_tag :comment, nil, class: "form-control show", placeholder: "コメントを追加"

          / button
          .photo-form-area
            = submit_tag :upload, class: "btn btn-success"


  .tab-list
    %ul.nav.nav-tabs(role="tablist")
      %li.active(role="presentation")
        %a(href="#search" aria-controls="search" role="tab" data-toggle="tab") 検索してアップ
      %li(role="presentation")
        %a(href="#choose" aria-controls="choose" role="tab" data-toggle="tab") 町名を選んでアップ
  .tab-content

    %div.tab-pane.active#search(role="tabpanel")

      .row
        .col-md-5
          %form
            .form-group
              %input.form-control#searchtown(type="text" placeholder="町名を検索")
      .select
        #search-links
          - @photos.each do |ward|
            .search-links-ward-unit
              %h3.search-ward-name
                %img(src="#{ward_image(ward.id)}" alt="101" style="width:40px;")
                = ward.name
              .select
                - ward.towns.each do |town|
                  %span.search-links-town-name.search-links-fugafuga(data-id="#{town.id}" data-town_name="#{town.name}" data-ward_name="#{ward.name}")
                    = town.name

    %div.tab-pane#choose(role="tabpanel")
      -# upload by choose
      - Ward.all.each do |ward|
        %input(type="hidden" value="#{ward.id}")

      #photo-new-choose-town(style="display:none")
        %h3 町名を選択してください
        .townhogehogearea
          %a 池袋
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
          %a hogehoge
        %ul

      %hr

      #photo-new-choose-ward
        %h3 区を選択してください
        - Ward.all.each do |ward|
          %a.photo-new-ward(data-id="#{ward.id}")
            %img(src="#{ward_image(ward.id)}" alt="101" style="width:40px;")
            = ward.name

- else
  %h3
    まずはログインをおなしゃす
    .hogehoge
      %a
        = link_to "Login Tw", "/auth/twitter"
    .hogehoge
      %a
        = link_to "Login Fb", "/auth/facebook"
:javascript
  new Search();
