.row
  .col-md-8
    = image_tag @photo.image.image.pickup.url

  .col-md-4
    %h3
      = "#{@photo.ward.name}#{@photo.town.name}"
    %p.text-muted
      = time_ago_in_words(@photo.created_at) + " ago"
    %hr
    = image_tag @photo.user.authentication.image, class: "img-circle", style:"width:40px"
    = link_to "#{@photo.user.name}さん", user_path(@photo.user)


    /%hr
    /- if current_user.present?
    /  / TODO: helperize
    /  = form_tag toggle_lives_path, remote: true, method: :post, id: "ttn_lived", class: "show" do |f|
    /    = hidden_field_tag :livable_type, @photo.class.name
    /    = hidden_field_tag :livable_id, @photo.id
    /    = hidden_field_tag :kind, 'lived'

    /    / TODO: move to helper
    /    - submit_txt = Live.where(user: current_user, kind: 'lived', livable: @photo).present? ? 'やっぱ住んでない' : '住んでた'
    /    = submit_tag submit_txt, class: "btn btn-default"

    %h5
      = @photo.comment
    %hr
    %strong#comment-count
      = "#{@photo.comments.count} comments"

    %ul#comment-list(style="list-style:none;margin:0px;padding:0px")
      - @photo.comments.each do |comment|
        %li
          %span.text-info
            = comment.user.name
          = comment.comment
          - if current_user.present? && current_user.id == comment.user_id
            = link_to "delete", comment_path(comment), class: "text-warning", method: :delete, data: { confirm: "消して大丈夫?" }
    - if current_user.present?
      %br
      %br
      = form_tag comments_path, remote: true, method: :post, id: "ttn_comment_form", class: "show" do |f|
        .form-group
          = text_field_tag :comment, nil, class: "form-control show", placeholder: "コメントを追加"
        = hidden_field_tag :commentable, @photo.class.name
        = hidden_field_tag :commentable_id, @photo.id
    - else
      .not-login-comment-form(style="margin-bottom: 20px")
        %span
          %a
            ログイン
        %span
            をするとコメントができるようになります
    %a(href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.tokyotownname.com" data-via="konpyu" data-lang="ja")
      ツイート
    .fb-share-button(data-href="#{request.url}" data-layout="button_count")
:javascript
  // temporary
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  new Lives();
  new Comments();
