= image_tag @photo.image.image_url
%h3 Auther

%h4
  = @photo.user.name
  = image_tag @photo.user.authentication.image, width: 100

%h4
  = @photo.comment

- if current_user.present?
  / TODO: helperize
  = form_tag toggle_lives_path, remote: true, method: :post, id: "ttn_lived", class: "show" do |f|
    = hidden_field_tag :livable_type, @photo.class.name
    = hidden_field_tag :livable_id, @photo.id
    = hidden_field_tag :kind, 'lived'

    / TODO: move to helper
    - submit_txt = Live.where(user: current_user, kind: 'lived', livable: @photo).present? ? 'やっぱ住んでない' : '住んでた'
    = submit_tag submit_txt

:javascript
  new Lives()
