.row
  .col-md-2
    = image_tag "/images/wards/#{@town.ward.id}.png", style: "width:80%"
  .col-md-10
    %h3
      = @town.name
    %p
      = "投稿数 #{Photo.where(town: @town).count}"

%hr
= render partial: 'photos/photos', locals: { photos: @town.photos.limit(30) }
