.row
  .col-md-2
    = image_tag "/images/wards/101.png", style: "width:80%"
  .col-md-10
    %h3
      = @town.name
    %p
      /FIXME
      = "投稿数 #{Photo.where(town: @town).count}"



%hr
.row
  / TODO: masonryにする
  - @town.photos.each do |photo|
    = image_tag photo.image.image_url, style: "width:200px"
