.row
  .col-md-2
    = image_tag "/images/wards/101.png", style: "width:80%"
  .col-md-10
    %h3
      = @ward.name
    %h5
      /FIXME
      = "投稿数 #{Photo.where(ward: @ward).count}"


%hr
= render partial: 'photos/photos', locals: { photos: @ward.photos.limit(30) }
