!!!
%html
  %head
    %base(href="/")
    %title
      TokyoTownName

    = csrf_meta_tags

    / release
    %meta(name="robots" content="noindex")
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = javascript_include_tag "application"
    = stylesheet_link_tag 'application', media: 'all'

  %body
    .contentsArea
      .navbar.navbar-default.navbar-static-top(role="navigation")
        .container
          .navbar-header
            %a.navbar-brand(href="/")
              TokyoTownName
              %span.sub
                \- あなたの街の街区表示板 -

          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              - unless current_user.present?
                %li
                  = link_to "Login Tw", "/auth/twitter"
                %li
                  = link_to "Login Fb", "/auth/facebook"



              %li
                = link_to "Top", about_path

              - if current_user.present?
                %li
                  = link_to "About", mypage_path

              %li
                = link_to "Search", achieve_path
                
              - if current_user.present?
                %li
                  = link_to "Upload", new_photo_path

              - if current_user.present?
                %li
                  = link_to "Completion Rate", achieve_path
                
              - if current_user.present?
                %li
                  = link_to "My Page", mypage_path

            %ul.nav.navbar-nav.navbar-right
              %li
                - if current_user.present?
                  = link_to "Login as #{current_user.name}"

            /- if current_user.present?
            /  %p
            /    Login as #{current_user.name}
            /  = image_tag current_user.authentication.image, width: 60
            /- else
            /  .login-tw
            /    = link_to "LOGIN Tw", "/auth/twitter"

      .container
        = yield

      .footerArea
        .footerImageArea
          %img(src="images/common/footer.png")
        .footerTextArea
          .footerTextAreaWrap 
            %p.created Created by DevMorning
            %p.copyright Copyright © 2015



