!!!
%html
  %head
    %base(href="/")
    %title
      TokyoTownName

    = csrf_meta_tags

    / release
    %meta(name="robots" content="noindex")
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = javascript_include_tag "application"
    = stylesheet_link_tag 'application', media: 'all'

  %body
    .navbar.navbar-default.navbar-static-top(role="navigation")
      .container
        .navbar-header
          %a.navbar-brand(href="/")
            TokyoTownName

        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            - unless current_user.present?
              %li
                = link_to "Login", "/auth/twitter"


            %li
              = link_to "達成状況", achieve_path

            %li
              = link_to "このサイトについて", about_path
            - if current_user.present?
              %li
                = link_to "Upload", new_photo_path

          %ul.nav.navbar-nav.navbar-right
            %li
              - if current_user.present?
                = link_to "Login as #{current_user.name}"

          /- if current_user.present?
          /  %p
          /    Login as #{current_user.name}
          /  = image_tag current_user.authentication.image, width: 60
          /- else
          /  .login-tw
          /    = link_to "LOGIN Tw", "/auth/twitter"

    .container
      = yield

    %p footer
