!!!
%html
  %head
    %base(href="/")
    %title
      TokyoTownName

    / release
    %meta(name="robots" content="noindex")
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = stylesheet_link_tag 'application', media: 'all'

  %body
    %a(href="/")
      TokyoTownName-New
    - if current_user.present?
      %p
        Login as #{current_user.name}
      = image_tag current_user.authentication.image, width: 60
    - else
      .login-tw
        = link_to "LOGIN Tw", "/auth/twitter"
    %h3 debug info
    .debuginfo
      = link_to 'list of wards', wards_path
      %span
        \/
      = link_to 'list of towns', towns_path
      %br
      = link_to 'create new photo', new_photo_path
    = yield

    %p footer
