!!!
%html
  %head
    %base(href="/")
    %title
      TokyoTownName

    = csrf_meta_tags

    / release
    %meta(name="robots" content="noindex")
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/

    = javascript_include_tag "application"
    = stylesheet_link_tag 'application', media: 'all'
    = include_gon

  %body
    .contentsArea
      .navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container
          .navbar-header
            %a.navbar-brand(href="/")
              TokyoTownName
              %span.sub
                \- あなたの街の街区表示板 -

          .navbar-collapse.collapse
            %ul.nav.navbar-nav
              - unless current_user.present?
                %li
                  = link_to "Login Tw", "/auth/twitter"
                %li
                  = link_to "Login Fb", "/auth/facebook"
              %li
                = link_to "About", about_path
              %li
                = link_to "Search", achieve_path
              %li
                = link_to "Reporters", users_path
              - if current_user.present?
                %li
                  = link_to "Upload", new_photo_path
              - if current_user.present?
                %li
                  = link_to "Completion Rate", achieve_path

            %ul.nav.navbar-nav.navbar-right
              %li
                - if current_user.present?
                  = link_to image_tag(current_user.profile_image_url, class: "img-circle", style:"width:38px;"), mypage_path

      .container
        = yield

      .footerArea
        .footerImageArea
          %img(src="images/common/footer.png")
        .footerTextArea
          .footerTextAreaWrap 
            %p.created Created by DevMorning
            %p.copyright Copyright © 2015
